.vscode/**
.github/**
docs/internal/**
docs/technical/**
docs/user/**
docs/assets/**
scripts/**
test/**
src/**
out/**/*.map
*.ts
*.js
!out/extension.js
!out/**/*
!media/branding/**
!media/walkthrough/**
!README.md
!CHANGELOG.md
!LICENSE
!package.json
!package.nls.json
!package.nls.es.json
