.vscode/**
.github/**
docs/**
scripts/**
test/**
src/**
out/**/*.map
*.ts
*.js
!out/extension.js
!out/**/*
!media/**
!README.md
!CHANGELOG.md
!LICENSE
!package.json
!package.nls.json
!package.nls.es.json
